#VINAY VITTAL MOOLYA - 20BCE1318 - AI ASSIGNMENT 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# TASK - 1

#Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

np.random.seed(42);

random_values = np.random.rand(4,4);

df = pd.DataFrame(random_values , columns = ['F1','F2','F3','F4'])

display(df)

         F1        F2        F3        F4
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405

In [ ]:
#TASK - 2

#Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']

display(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.374540        0.950714        0.731994        0.598658
1        0.156019        0.155995        0.058084        0.866176
2        0.601115        0.708073        0.020584        0.969910
3        0.832443        0.212339        0.181825        0.183405

In [ ]:
#TASK - 3

#Find the descriptive statistics of the 'df' dataframe.

print(df.describe())
print('*'*100)
print(df.info())

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.491029        0.506780        0.248122        0.654537
std          0.291252        0.386153        0.329856        0.350875
min          0.156019        0.155995        0.020584        0.183405
25%          0.319910        0.198253        0.048709        0.494845
50%          0.487828        0.460206        0.119954        0.732417
75%          0.658947        0.768733        0.319367        0.892110
max          0.832443        0.950714        0.731994        0.969910
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes
None

In [ ]:
#TASK - 4


#Check for the null values in 'df' and find the data type of the columns.

print(df.isnull().sum())
print('*'*100)
print(df.info())

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64
****************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes
None

In [ ]:
#TASK - 5

#Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

print(df.loc[:,['Random value 2','Random value 3']])
print('*'*100)
print(df.iloc[:,1:3])

   Random value 2  Random value 3
0        0.950714        0.731994
1        0.155995        0.058084
2        0.708073        0.020584
3        0.212339        0.181825
****************************************************************************************************
   Random value 2  Random value 3
0        0.950714        0.731994
1        0.155995        0.058084
2        0.708073        0.020584
3        0.212339        0.181825